# Излечение, преобразование, загрузка

## Импортируем необходимые модули

In [1102]:
import pandas as pd
from sqlalchemy import create_engine, text
from itertools import combinations

## Настраиваем подключение к БД

In [1103]:
user = "entries_user"
password = "entries_password"
host = "localhost"
port = "5432"
database = "entries_db"

engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")

## intervals_tgt

Читаем сырые данные и справочную таблицу в датафреймы, обрабатывать данные будем в сгруппированном по full_name и отсортированном по event_dt виде, ввиду чего при рассмотрении последовательных пар записей гарантируется упорядоченность.

In [1104]:
df_data = pd.read_sql("SELECT * FROM entries_src;", engine, index_col="id")
df_data["event_dt"] = pd.to_datetime(df_data["event_dt"])

df_emergency = pd.read_sql("SELECT * FROM emergency_ref", engine, index_col="id")
df_emergency["event_dt"] = pd.to_datetime(df_emergency["event_dt"])
df_emergency["end_dt"] = df_emergency["event_dt"] + pd.to_timedelta(df_emergency["duration"], unit="m") + pd.Timedelta(minutes=10)

### Очистка от шума

Очищаем данные - убираем дубликаты записей (один и тот же статус, время отличается меньше чем на минуту). После очистки данных возможны следующие пары последовательных статусов:
- **Вход - Выход** - целевой интервал
- **Выход - Вход** - интервал, в который сотрудник не находится на рабочем месте
- **Выход - Доступ запрещён** - аналогично предыдущему пункту, но при начале следующего интервала была попытка неуспешного входа
- **Доступ запрещён - Вход** - Неудачная и удачная попытки входа или вход после интервала, завершившегося статусом **Доступ запрещён**
- **Вход - Доступ запрещён** - Интервал, окончание которого - выход со статусом **Доступ запрещён**
- **Вход - Вход** - Запись о входе после покидания офиса не через турникет (Два случая: запланированно или нет)
- **Доступ запрещён - Доступ запрещён** - интервал, в который сотрудник не находится на рабочем месте, но предыдущий действительный интервал закончился выходом со статусом **Доступ запрещён**, а следующий начинается с попытки неуспешного входа

In [1105]:
to_drop = []

for name, group in df_data.groupby("full_name"):
    sorted_group = group.sort_values(by="event_dt")
    rows = list(sorted_group.itertuples(index=True))

    for row_i, row_j in zip(rows, rows[1:]):
        if (row_i.status == row_j.status) and (row_j.event_dt - row_i.event_dt <= pd.Timedelta(seconds=60)):
            to_drop.append(row_i.Index)

df_data.drop(to_drop, inplace=True)

### Пары **Вход - Вход** 

Рассмотрим пару **Вход - Вход**, в обоих случаях первая запись будет валидным началом интервала, для определения второй записи обратимся к справочной таблице **emergency_ref** - если в справочной таблице существует запись о запланированном мероприятии и для времени второй записи выполняется неравенство 
$$event\_dt^{ref} < event\_dt^{src} \leq event\_dt^{ref} + duration^{ref} + 10 (min),$$ 
где 10 минут - учёт очередей на КПП после проведения мероприятия, то мы добавляем запись о выходе, время которой совпадает с временем начала запланированного мероприятия, в противном случае вторую запись о входе удаляем.

In [1106]:
to_drop = []
to_push = []

for name, group in df_data.groupby("full_name"):
    sorted_group = group.sort_values(by="event_dt")
    rows = list(sorted_group.itertuples(index=True))

    for row_i, row_j in zip(rows, rows[1:]):        
        if (row_i.status == row_j.status == "Вход"):
            mask_i = (df_emergency["event_dt"] < row_j.event_dt) & (row_j.event_dt < df_emergency["end_dt"])
            mask = (df_emergency["event_dt"] < row_j.event_dt) & (row_j.event_dt < df_emergency["end_dt"])

            if mask.any():
                match = df_emergency[mask]

                to_push.append({
                    "full_name" : name,
                    "event_dt" : match["event_dt"].iloc[0],
                    "status" : "Выход"
                })

            else:
                to_drop.append(row_j.Index)

df_data.drop(to_drop, inplace=True)
df_data = pd.concat([df_data, pd.DataFrame(to_push)])

### Пары **Доступ запрещён - Доступ запрещён**

Рассмотрим пару **Доступ запрещён - Доступ запрещён**, после фильтрации на предыдущем шаге гарантируется, что если записи с индексами $i$-я и $i+1$ - **Доступ запрещён**, то заипси с индексами $i-1$ и $i+2$ - **Вход**, тогда первая запись из пары подразумевает выход, а вторая - ошибочный вход. Соответственно, у первой записи заменяем статус на **Выход**, а вторую удаляем как неуспешный вход.

In [1107]:
to_drop = []
to_update = []

for name, group in df_data.groupby("full_name"):
    sorted_group = group.sort_values(by="event_dt")
    rows = list(sorted_group.itertuples(index=True))

    for row_i, row_j in zip(rows, rows[1:]):
        if (row_i.status == row_j.status == "Доступ запрещён"):
            to_drop.append(row_j.Index)
            to_update.append(row_i.Index)

df_data.drop(to_drop, inplace=True)
df_data.loc[to_update, "status"] = "Выход"

### Статус **Доступ запрещён**

Рассмотрим пары, один из элементов которых - **Доступ запрещён**. В первую очередь рассмотрим пару **Выход - Доступ запрещён**, поскольку на первом элементе интервал заканчивается, второй элемент может быть только попыткой неудачного входа, отбросив записи **Доступ запрещён**, получится, что в паре **Доступ запрещён - Вход** появляется однозначность - конец предыдущего интервала и начало нового и значение этой пары становится равным значению пары **Вход - Доступ запрещён**, следовательно все оставшиеся записи **Доступ запрещён** означают выходы и мы можем их заменить.

In [1108]:
to_drop = []

for name, group in df_data.groupby("full_name"):
    sorted_group = group.sort_values(by="event_dt")
    rows = list(sorted_group.itertuples(index=True))

    for row_i, row_j in zip(rows, rows[1:]):
        if (row_i.status == "Выход") and (row_j.status == "Доступ запрещён"):
            to_drop.append(row_j.Index)

df_data.drop(to_drop, inplace=True)

df_data.loc[df_data["status"] == "Доступ запрещён", "status"] = "Выход"

### Формирование интервалов

При формировании рассматриваем уникальные пары, при верной обработке на предыдущих шагх гарантируется, что уникальные пары могут иметь вид только **Вход - Выход**. Для рассмотрения случая окончания отчётного периода до окончания рабочего дня обрабатываем непарные записи о входе и присваиваем им крайние дату и время отчётного периода.

In [1109]:
report_period_end = df_data["event_dt"].max().normalize() + pd.Timedelta(hours=23, minutes=59, seconds=59)

to_push = []

for name, group in df_data.groupby("full_name"):
    sorted_group = group.sort_values(by="event_dt")
    n = len(sorted_group)

    for i in range(0, n - 1, 2):
        row_i = sorted_group.iloc[i]
        row_j = sorted_group.iloc[i + 1]

        if row_i.status != "Вход" or row_j.status != "Выход":
            print(row_i.status, row_j.status, i, i + 1, row_j.event_dt)

        to_push.append({
            "full_name" : row_i.full_name,
            "enter_dt" : row_i.event_dt,
            "exit_dt" : row_j.event_dt
        })

    if n % 2 != 0:
        row = sorted_group.iloc[n - 1]
        to_push.append({
            "full_name" : row.full_name,
            "enter_dt" : row.event_dt,
            "exit_dt" : report_period_end
        })

df_intervals = pd.DataFrame(to_push)

### Выгрузка датафрейма в таблицу

In [1110]:
df_intervals = df_intervals.reset_index()
df_intervals.rename(columns={"index" : "id"}, inplace=True)

df_intervals.to_sql("intervals_tgt", engine, if_exists="append", index=False)

618

## workdays_tgt

Берём из таблицы интервалы

In [1111]:
df_intervals = pd.read_sql("SELECT * FROM intervals_tgt;", engine, index_col="id")
df_intervals["enter_dt"] = pd.to_datetime(df_intervals["enter_dt"])
df_intervals["exit_dt"] = pd.to_datetime(df_intervals["exit_dt"])

Рассмотрим интервалы для каждого сотрудника и для каждой отчётной даты $rep\_date$, сформируем интервал 
$$enter\_dt^{min}, \; min(exit\_dt^{ref \, min}, \; rep\_date + 1d + 4h),$$
где $enter\_dt^{min}$ - самый ранний вход, $exit\_dt^{ref \, min}$ - выход для самого позднего входа, в случае окончания сформированного интервала в 04:00:00, следующий стоит начинать с 04:00:01.

Пусть вход был осуществлён 2025-06-28 08:00:00, а выход 2025-06-29 04:20:00, тогда формально будет существовать рабочий день длиной в 20 минут, а если 2025-06-29 08:00:00 был вновь произведён вход, то будет существовать два рабочих дня для одной отчётной даты. Во избежание таких ситуаций будем считать окончанием рабочего дня 04:00, если "естественным" образом он не завершился до 08:00

In [ ]:
def to_split(enter_dt: pd.Timestamp, exit_dt: pd.Timestamp) -> bool:
    if enter_dt.date() == exit_dt.date():
        time_4am = pd.Timestamp('04:00:00').time()
        return enter_dt.time() < time_4am < exit_dt.time()
    else:
        return True
    
def split(enter_dt: pd.Timestamp, exit_dt: pd.Timestamp) -> list:
    if enter_dt.date() == exit_dt.date():
        split_dt = pd.Timestamp.combine(enter_dt.date(), pd.Timestamp('04:00:00').time())
    else:
        split_dt = pd.Timestamp.combine(
            enter_dt.date() + pd.Timedelta(days=1),
            pd.Timestamp('04:00:00').time()
        )
    
    return [
        (enter_dt, split_dt),
        (split_dt + pd.Timedelta(seconds=1), exit_dt)
    ]


to_push = []
to_drop = []

for row in df_intervals.itertuples():
    if to_split(row.enter_dt, row.exit_dt):
        splited = split(row.enter_dt, row.exit_dt)

        for elem in splited:
            to_drop.append(row.Index)
            to_push.append({
                "full_name" : row.full_name,
                "enter_dt" : elem[0],
                "exit_dt" : elem[1]
            })

df_intervals.drop(to_drop, inplace=True)
df_intervals = pd.concat([df_intervals, pd.DataFrame(to_push)], ignore_index=True)

def get_group_key(dt):
    if dt.time() >= pd.Timestamp('04:01:00').time():
        return dt.date()
    else:
        return (dt - pd.Timedelta(days=1)).date()
    
df_intervals["group"] = df_intervals["enter_dt"].apply(get_group_key)
grouped = df_intervals.groupby(["full_name", "group"])

for (name, key), group in grouped:
    if len(group) != 2:
        print(len(group))

0   2006-04-03 10:19:14
1   2006-04-03 15:49:24
Name: enter_dt, dtype: datetime64[ns]
2   2006-04-04 08:18:06
3   2006-04-04 13:47:56
Name: enter_dt, dtype: datetime64[ns]
4   2006-04-05 08:24:52
5   2006-04-05 14:07:15
Name: enter_dt, dtype: datetime64[ns]
6   2006-04-06 08:13:27
7   2006-04-06 14:07:44
Name: enter_dt, dtype: datetime64[ns]
8   2006-04-07 08:09:31
9   2006-04-07 13:32:11
Name: enter_dt, dtype: datetime64[ns]
10   2006-04-10 09:24:56
11   2006-04-10 14:52:09
Name: enter_dt, dtype: datetime64[ns]
12   2006-04-11 08:20:56
13   2006-04-11 13:44:52
Name: enter_dt, dtype: datetime64[ns]
14   2006-04-12 10:20:12
15   2006-04-12 15:48:09
Name: enter_dt, dtype: datetime64[ns]
16   2006-04-13 09:10:59
17   2006-04-13 14:14:49
Name: enter_dt, dtype: datetime64[ns]
18   2006-04-14 10:17:33
19   2006-04-14 12:25:59
20   2006-04-14 16:11:40
Name: enter_dt, dtype: datetime64[ns]
21   2006-04-17 08:11:01
22   2006-04-17 13:20:30
Name: enter_dt, dtype: datetime64[ns]
23   2006-04-18 09:13:45
24   2006-04-18 14:51:29
Name: enter_dt, dtype: datetime64[ns]
25   2006-04-19 08:24:13
26   2006-04-19 13:43:26
Name: enter_dt, dtype: datetime64[ns]
27   2006-04-20 10:20:39
28   2006-04-20 15:41:32
Name: enter_dt, dtype: datetime64[ns]
29   2006-04-21 08:19:47
30   2006-04-21 13:51:07
Name: enter_dt, dtype: datetime64[ns]
31   2006-04-24 10:30:14
32   2006-04-24 16:30:46
Name: enter_dt, dtype: datetime64[ns]
33   2006-04-25 08:17:31
34   2006-04-25 13:36:27
Name: enter_dt, dtype: datetime64[ns]
35   2006-04-26 10:16:49
36   2006-04-26 15:51:47
Name: enter_dt, dtype: datetime64[ns]
37   2006-04-27 08:06:13
38   2006-04-27 13:43:07
Name: enter_dt, dtype: datetime64[ns]
39   2006-04-28 08:05:31
40   2006-04-28 13:29:15
Name: enter_dt, dtype: datetime64[ns]
41   2006-05-01 08:18:38
42   2006-05-01 13:48:06
Name: enter_dt, dtype: datetime64[ns]
43   2006-05-02 08:28:40
44   2006-05-02 13:59:57
Name: enter_dt, dtype: datetime64[ns]
45   2006-05-03 08:13:53
46   2006-05-03 13:27:46
Name: enter_dt, dtype: datetime64[ns]
47   2006-05-04 09:28:46
48   2006-05-04 14:59:00
Name: enter_dt, dtype: datetime64[ns]
49   2006-05-05 10:09:45
50   2006-05-05 15:37:52
Name: enter_dt, dtype: datetime64[ns]
51   2006-05-08 09:20:00
52   2006-05-08 15:00:32
Name: enter_dt, dtype: datetime64[ns]
53   2006-05-09 08:23:14
54   2006-05-09 13:49:43
Name: enter_dt, dtype: datetime64[ns]
55   2006-05-10 09:15:17
56   2006-05-10 14:53:01
Name: enter_dt, dtype: datetime64[ns]
57   2006-05-11 09:26:03
58   2006-05-11 14:46:07
Name: enter_dt, dtype: datetime64[ns]
59   2006-05-12 08:00:34
60   2006-05-12 13:20:23
Name: enter_dt, dtype: datetime64[ns]
61   2006-05-15 08:27:27
62   2006-05-15 13:52:08
Name: enter_dt, dtype: datetime64[ns]
63   2006-05-16 10:12:14
64   2006-05-16 15:23:41
Name: enter_dt, dtype: datetime64[ns]
65   2006-05-17 08:00:28
66   2006-05-17 13:37:05
Name: enter_dt, dtype: datetime64[ns]
67   2006-05-18 10:09:43
68   2006-05-18 15:50:25
Name: enter_dt, dtype: datetime64[ns]
69   2006-05-19 08:26:15
70   2006-05-19 14:26:23
Name: enter_dt, dtype: datetime64[ns]
71   2006-05-22 10:14:31
72   2006-05-22 15:36:15
Name: enter_dt, dtype: datetime64[ns]
73   2006-05-23 08:29:33
74   2006-05-23 13:54:05
Name: enter_dt, dtype: datetime64[ns]
75   2006-05-24 09:04:01
76   2006-05-24 14:39:33
Name: enter_dt, dtype: datetime64[ns]
77   2006-05-25 09:02:30
78   2006-05-25 14:29:07
Name: enter_dt, dtype: datetime64[ns]
79   2006-05-26 08:00:40
80   2006-05-26 13:31:34
Name: enter_dt, dtype: datetime64[ns]
81   2006-05-29 08:22:17
82   2006-05-29 14:07:47
Name: enter_dt, dtype: datetime64[ns]
83   2006-05-30 08:06:58
84   2006-05-30 13:21:14
Name: enter_dt, dtype: datetime64[ns]
85   2006-05-31 09:22:37
86   2006-05-31 14:47:55
Name: enter_dt, dtype: datetime64[ns]
87   2006-06-01 10:02:51
88   2006-06-01 15:49:36
Name: enter_dt, dtype: datetime64[ns]
89   2006-06-02 09:09:51
90   2006-06-02 14:34:07
Name: enter_dt, dtype: datetime64[ns]
91   2006-06-05 08:20:50
92   2006-06-05 11:31:12
93   2006-06-05 13:44:48
Name: enter_dt, dtype: datetime64[ns]
94   2006-06-06 08:25:23
95   2006-06-06 13:52:03
Name: enter_dt, dtype: datetime64[ns]
96   2006-06-07 08:20:56
97   2006-06-07 13:59:36
Name: enter_dt, dtype: datetime64[ns]
98   2006-06-08 08:03:48
99   2006-06-08 13:34:41
Name: enter_dt, dtype: datetime64[ns]
100   2006-06-09 10:25:54
101   2006-06-09 16:21:56
Name: enter_dt, dtype: datetime64[ns]
102   2006-06-12 10:20:48
103   2006-06-12 16:15:00
Name: enter_dt, dtype: datetime64[ns]
104   2006-06-13 10:04:42
105   2006-06-13 15:37:49
Name: enter_dt, dtype: datetime64[ns]
106   2006-06-14 08:08:26
107   2006-06-14 13:27:54
Name: enter_dt, dtype: datetime64[ns]
108   2006-06-15 08:21:16
109   2006-06-15 13:46:18
Name: enter_dt, dtype: datetime64[ns]
110   2006-06-16 10:03:03
111   2006-06-16 15:48:45
Name: enter_dt, dtype: datetime64[ns]
112   2006-06-19 08:21:30
113   2006-06-19 14:08:37
Name: enter_dt, dtype: datetime64[ns]
114   2006-06-20 10:02:59
115   2006-06-20 15:13:53
Name: enter_dt, dtype: datetime64[ns]
116   2006-06-21 09:17:27
117   2006-06-21 14:50:14
Name: enter_dt, dtype: datetime64[ns]
118   2006-06-22 08:00:36
119   2006-06-22 13:32:01
Name: enter_dt, dtype: datetime64[ns]
120   2006-06-23 09:02:00
121   2006-06-23 14:11:04
Name: enter_dt, dtype: datetime64[ns]
122   2006-06-26 09:14:43
123   2006-06-26 15:02:35
Name: enter_dt, dtype: datetime64[ns]
124   2006-06-27 08:03:50
125   2006-06-27 13:29:00
Name: enter_dt, dtype: datetime64[ns]
126   2006-06-28 09:26:16
127   2006-06-28 14:56:22
Name: enter_dt, dtype: datetime64[ns]
128   2006-06-29 09:01:35
129   2006-06-29 12:18:20
130   2006-06-29 14:12:34
Name: enter_dt, dtype: datetime64[ns]
131   2006-06-30 10:09:05
132   2006-06-30 15:29:22
Name: enter_dt, dtype: datetime64[ns]
133   2006-04-03 08:18:20
Name: enter_dt, dtype: datetime64[ns]
134   2006-04-04 09:06:59
Name: enter_dt, dtype: datetime64[ns]
135   2006-04-05 10:04:44
Name: enter_dt, dtype: datetime64[ns]
136   2006-04-06 08:03:17
Name: enter_dt, dtype: datetime64[ns]
137   2006-04-07 08:04:28
Name: enter_dt, dtype: datetime64[ns]
138   2006-04-10 10:30:39
Name: enter_dt, dtype: datetime64[ns]
139   2006-04-11 08:24:00
Name: enter_dt, dtype: datetime64[ns]
140   2006-04-12 09:23:11
Name: enter_dt, dtype: datetime64[ns]
141   2006-04-13 08:28:16
Name: enter_dt, dtype: datetime64[ns]
142   2006-04-14 10:24:13
143   2006-04-14 12:31:22
Name: enter_dt, dtype: datetime64[ns]
144   2006-04-17 09:10:48
Name: enter_dt, dtype: datetime64[ns]
145   2006-04-18 08:14:00
Name: enter_dt, dtype: datetime64[ns]
146   2006-04-19 10:28:26
Name: enter_dt, dtype: datetime64[ns]
147   2006-04-20 10:23:25
Name: enter_dt, dtype: datetime64[ns]
148   2006-04-21 09:07:01
Name: enter_dt, dtype: datetime64[ns]
149   2006-04-24 10:19:27
Name: enter_dt, dtype: datetime64[ns]
150   2006-04-25 09:00:44
Name: enter_dt, dtype: datetime64[ns]
151   2006-04-26 08:12:40
Name: enter_dt, dtype: datetime64[ns]
152   2006-04-27 08:10:34
Name: enter_dt, dtype: datetime64[ns]
153   2006-04-28 08:22:56
Name: enter_dt, dtype: datetime64[ns]
154   2006-05-01 09:27:47
Name: enter_dt, dtype: datetime64[ns]
155   2006-05-02 10:25:29
Name: enter_dt, dtype: datetime64[ns]
156   2006-05-03 08:21:58
Name: enter_dt, dtype: datetime64[ns]
157   2006-05-04 08:02:13
Name: enter_dt, dtype: datetime64[ns]
158   2006-05-05 10:08:02
Name: enter_dt, dtype: datetime64[ns]
159   2006-05-08 08:13:18
Name: enter_dt, dtype: datetime64[ns]
160   2006-05-09 08:19:18
Name: enter_dt, dtype: datetime64[ns]
161   2006-05-10 10:10:30
Name: enter_dt, dtype: datetime64[ns]
162   2006-05-11 08:16:23
Name: enter_dt, dtype: datetime64[ns]
163   2006-05-12 09:02:30
Name: enter_dt, dtype: datetime64[ns]
164   2006-05-15 08:08:06
Name: enter_dt, dtype: datetime64[ns]
165   2006-05-16 10:19:09
Name: enter_dt, dtype: datetime64[ns]
166   2006-05-17 10:04:31
Name: enter_dt, dtype: datetime64[ns]
167   2006-05-18 08:21:29
Name: enter_dt, dtype: datetime64[ns]
168   2006-05-19 08:27:35
Name: enter_dt, dtype: datetime64[ns]
169   2006-05-22 10:19:11
Name: enter_dt, dtype: datetime64[ns]
170   2006-05-23 09:19:35
Name: enter_dt, dtype: datetime64[ns]
171   2006-05-24 09:11:56
Name: enter_dt, dtype: datetime64[ns]
172   2006-05-25 09:06:31
Name: enter_dt, dtype: datetime64[ns]
173   2006-05-26 09:20:55
Name: enter_dt, dtype: datetime64[ns]
174   2006-05-29 08:17:27
Name: enter_dt, dtype: datetime64[ns]
175   2006-05-30 09:17:52
Name: enter_dt, dtype: datetime64[ns]
176   2006-05-31 08:28:07
Name: enter_dt, dtype: datetime64[ns]
177   2006-06-01 10:01:47
Name: enter_dt, dtype: datetime64[ns]
178   2006-06-02 08:05:51
Name: enter_dt, dtype: datetime64[ns]
179   2006-06-05 09:00:49
180   2006-06-05 11:30:39
Name: enter_dt, dtype: datetime64[ns]
181   2006-06-06 08:10:53
Name: enter_dt, dtype: datetime64[ns]
182   2006-06-07 08:15:35
Name: enter_dt, dtype: datetime64[ns]
183   2006-06-08 08:06:28
Name: enter_dt, dtype: datetime64[ns]
184   2006-06-09 10:11:47
Name: enter_dt, dtype: datetime64[ns]
185   2006-06-12 10:08:35
Name: enter_dt, dtype: datetime64[ns]
186   2006-06-13 08:12:13
Name: enter_dt, dtype: datetime64[ns]
187   2006-06-14 09:09:33
Name: enter_dt, dtype: datetime64[ns]
188   2006-06-15 10:10:09
Name: enter_dt, dtype: datetime64[ns]
189   2006-06-16 09:13:15
Name: enter_dt, dtype: datetime64[ns]
190   2006-06-19 09:24:08
Name: enter_dt, dtype: datetime64[ns]
191   2006-06-20 09:17:56
Name: enter_dt, dtype: datetime64[ns]
192   2006-06-21 10:20:56
Name: enter_dt, dtype: datetime64[ns]
193   2006-06-22 08:24:59
Name: enter_dt, dtype: datetime64[ns]
194   2006-06-23 08:27:10
Name: enter_dt, dtype: datetime64[ns]
195   2006-06-26 08:20:32
Name: enter_dt, dtype: datetime64[ns]
196   2006-06-27 09:22:51
Name: enter_dt, dtype: datetime64[ns]
197   2006-06-28 10:05:49
Name: enter_dt, dtype: datetime64[ns]
198   2006-06-29 10:21:16
199   2006-06-29 12:19:10
Name: enter_dt, dtype: datetime64[ns]
200   2006-06-30 09:28:41
Name: enter_dt, dtype: datetime64[ns]
201   2006-04-03 09:26:03
Name: enter_dt, dtype: datetime64[ns]
202   2006-04-04 09:16:11
Name: enter_dt, dtype: datetime64[ns]
203   2006-04-05 09:08:38
Name: enter_dt, dtype: datetime64[ns]
204   2006-04-06 08:14:18
Name: enter_dt, dtype: datetime64[ns]
205   2006-04-07 10:25:12
Name: enter_dt, dtype: datetime64[ns]
206   2006-04-10 09:14:42
Name: enter_dt, dtype: datetime64[ns]
207   2006-04-11 10:13:37
Name: enter_dt, dtype: datetime64[ns]
208   2006-04-12 10:00:10
Name: enter_dt, dtype: datetime64[ns]
209   2006-04-13 08:24:28
Name: enter_dt, dtype: datetime64[ns]
210   2006-04-14 10:09:45
211   2006-04-14 12:29:45
Name: enter_dt, dtype: datetime64[ns]
212   2006-04-17 08:25:11
Name: enter_dt, dtype: datetime64[ns]
213   2006-04-18 08:26:00
Name: enter_dt, dtype: datetime64[ns]
214   2006-04-19 09:22:03
Name: enter_dt, dtype: datetime64[ns]
215   2006-04-20 09:11:03
Name: enter_dt, dtype: datetime64[ns]
216   2006-04-21 10:17:04
Name: enter_dt, dtype: datetime64[ns]
217   2006-04-24 08:17:14
Name: enter_dt, dtype: datetime64[ns]
218   2006-04-25 08:25:59
Name: enter_dt, dtype: datetime64[ns]
219   2006-04-26 09:13:35
Name: enter_dt, dtype: datetime64[ns]
220   2006-04-27 10:20:41
Name: enter_dt, dtype: datetime64[ns]
221   2006-04-28 10:24:13
Name: enter_dt, dtype: datetime64[ns]
222   2006-05-01 09:09:46
Name: enter_dt, dtype: datetime64[ns]
223   2006-05-02 08:25:30
Name: enter_dt, dtype: datetime64[ns]
224   2006-05-03 08:13:32
Name: enter_dt, dtype: datetime64[ns]
225   2006-05-04 10:04:16
Name: enter_dt, dtype: datetime64[ns]
226   2006-05-05 09:03:02
Name: enter_dt, dtype: datetime64[ns]
227   2006-05-08 08:01:08
Name: enter_dt, dtype: datetime64[ns]
228   2006-05-09 08:05:36
Name: enter_dt, dtype: datetime64[ns]
229   2006-05-10 10:27:41
Name: enter_dt, dtype: datetime64[ns]
230   2006-05-11 10:04:35
Name: enter_dt, dtype: datetime64[ns]
231   2006-05-12 08:27:37
Name: enter_dt, dtype: datetime64[ns]
232   2006-05-15 10:15:08
Name: enter_dt, dtype: datetime64[ns]
233   2006-05-16 08:09:36
Name: enter_dt, dtype: datetime64[ns]
234   2006-05-17 10:18:42
Name: enter_dt, dtype: datetime64[ns]
235   2006-05-18 10:28:54
Name: enter_dt, dtype: datetime64[ns]
236   2006-05-19 09:03:58
Name: enter_dt, dtype: datetime64[ns]
237   2006-05-22 10:28:21
Name: enter_dt, dtype: datetime64[ns]
238   2006-05-23 09:17:01
Name: enter_dt, dtype: datetime64[ns]
239   2006-05-24 09:30:47
Name: enter_dt, dtype: datetime64[ns]
240   2006-05-25 08:28:10
Name: enter_dt, dtype: datetime64[ns]
241   2006-05-26 09:06:11
Name: enter_dt, dtype: datetime64[ns]
242   2006-05-29 10:01:44
Name: enter_dt, dtype: datetime64[ns]
243   2006-05-30 08:20:42
Name: enter_dt, dtype: datetime64[ns]
244   2006-05-31 08:01:58
Name: enter_dt, dtype: datetime64[ns]
245   2006-06-01 10:03:26
Name: enter_dt, dtype: datetime64[ns]
246   2006-06-02 09:04:25
Name: enter_dt, dtype: datetime64[ns]
247   2006-06-05 09:24:39
248   2006-06-05 11:29:19
Name: enter_dt, dtype: datetime64[ns]
249   2006-06-06 08:28:43
Name: enter_dt, dtype: datetime64[ns]
250   2006-06-07 10:15:15
Name: enter_dt, dtype: datetime64[ns]
251   2006-06-08 09:16:37
Name: enter_dt, dtype: datetime64[ns]
252   2006-06-09 08:16:59
Name: enter_dt, dtype: datetime64[ns]
253   2006-06-12 08:08:28
Name: enter_dt, dtype: datetime64[ns]
254   2006-06-13 10:15:00
Name: enter_dt, dtype: datetime64[ns]
255   2006-06-14 10:24:16
Name: enter_dt, dtype: datetime64[ns]
256   2006-06-15 09:07:01
Name: enter_dt, dtype: datetime64[ns]
257   2006-06-16 08:27:54
Name: enter_dt, dtype: datetime64[ns]
258   2006-06-19 09:05:10
Name: enter_dt, dtype: datetime64[ns]
259   2006-06-20 10:11:14
Name: enter_dt, dtype: datetime64[ns]
260   2006-06-21 10:27:24
Name: enter_dt, dtype: datetime64[ns]
261   2006-06-22 08:11:24
Name: enter_dt, dtype: datetime64[ns]
262   2006-06-23 08:11:30
Name: enter_dt, dtype: datetime64[ns]
263   2006-06-26 10:12:14
Name: enter_dt, dtype: datetime64[ns]
264   2006-06-27 10:18:28
Name: enter_dt, dtype: datetime64[ns]
265   2006-06-28 10:00:48
Name: enter_dt, dtype: datetime64[ns]
266   2006-06-29 08:22:16
267   2006-06-29 12:10:12
Name: enter_dt, dtype: datetime64[ns]
268   2006-06-30 09:23:58
Name: enter_dt, dtype: datetime64[ns]
269   2006-04-03 09:23:04
Name: enter_dt, dtype: datetime64[ns]
270   2006-04-04 10:18:01
Name: enter_dt, dtype: datetime64[ns]
271   2006-04-05 08:05:28
Name: enter_dt, dtype: datetime64[ns]
272   2006-04-06 08:30:16
Name: enter_dt, dtype: datetime64[ns]
273   2006-04-07 10:04:00
Name: enter_dt, dtype: datetime64[ns]
274   2006-04-10 09:10:10
Name: enter_dt, dtype: datetime64[ns]
275   2006-04-11 08:14:22
Name: enter_dt, dtype: datetime64[ns]
276   2006-04-12 09:21:18
Name: enter_dt, dtype: datetime64[ns]
277   2006-04-13 10:25:57
Name: enter_dt, dtype: datetime64[ns]
278   2006-04-14 09:03:49
279   2006-04-14 12:29:31
Name: enter_dt, dtype: datetime64[ns]
280   2006-04-17 09:28:02
Name: enter_dt, dtype: datetime64[ns]
281   2006-04-18 10:05:06
Name: enter_dt, dtype: datetime64[ns]
282   2006-04-19 10:07:36
Name: enter_dt, dtype: datetime64[ns]
283   2006-04-20 08:04:38
Name: enter_dt, dtype: datetime64[ns]
284   2006-04-21 10:05:04
Name: enter_dt, dtype: datetime64[ns]
285   2006-04-24 08:21:41
Name: enter_dt, dtype: datetime64[ns]
286   2006-04-25 08:00:51
Name: enter_dt, dtype: datetime64[ns]
287   2006-04-26 09:09:26
Name: enter_dt, dtype: datetime64[ns]
288   2006-04-27 08:19:22
Name: enter_dt, dtype: datetime64[ns]
289   2006-04-28 10:11:22
Name: enter_dt, dtype: datetime64[ns]
290   2006-05-01 10:15:26
Name: enter_dt, dtype: datetime64[ns]
291   2006-05-02 08:06:28
Name: enter_dt, dtype: datetime64[ns]
292   2006-05-03 09:08:18
Name: enter_dt, dtype: datetime64[ns]
293   2006-05-04 08:11:23
Name: enter_dt, dtype: datetime64[ns]
294   2006-05-05 10:16:42
Name: enter_dt, dtype: datetime64[ns]
295   2006-05-08 09:28:31
Name: enter_dt, dtype: datetime64[ns]
296   2006-05-09 08:02:24
Name: enter_dt, dtype: datetime64[ns]
297   2006-05-10 10:19:25
Name: enter_dt, dtype: datetime64[ns]
298   2006-05-11 09:02:17
Name: enter_dt, dtype: datetime64[ns]
299   2006-05-12 09:21:14
Name: enter_dt, dtype: datetime64[ns]
300   2006-05-15 10:30:40
Name: enter_dt, dtype: datetime64[ns]
301   2006-05-16 10:12:16
Name: enter_dt, dtype: datetime64[ns]
302   2006-05-17 08:30:50
Name: enter_dt, dtype: datetime64[ns]
303   2006-05-18 08:15:40
Name: enter_dt, dtype: datetime64[ns]
304   2006-05-19 09:01:12
Name: enter_dt, dtype: datetime64[ns]
305   2006-05-22 08:16:10
Name: enter_dt, dtype: datetime64[ns]
306   2006-05-23 10:27:56
Name: enter_dt, dtype: datetime64[ns]
307   2006-05-24 10:26:26
Name: enter_dt, dtype: datetime64[ns]
308   2006-05-25 10:00:06
Name: enter_dt, dtype: datetime64[ns]
309   2006-05-26 09:27:11
Name: enter_dt, dtype: datetime64[ns]
310   2006-05-29 08:25:20
Name: enter_dt, dtype: datetime64[ns]
311   2006-05-30 08:22:54
Name: enter_dt, dtype: datetime64[ns]
312   2006-05-31 10:13:26
Name: enter_dt, dtype: datetime64[ns]
313   2006-06-01 09:04:05
Name: enter_dt, dtype: datetime64[ns]
314   2006-06-02 08:18:12
Name: enter_dt, dtype: datetime64[ns]
315   2006-06-05 09:30:23
316   2006-06-05 11:29:22
Name: enter_dt, dtype: datetime64[ns]
317   2006-06-06 09:14:48
Name: enter_dt, dtype: datetime64[ns]
318   2006-06-07 09:05:29
Name: enter_dt, dtype: datetime64[ns]
319   2006-06-08 09:00:08
Name: enter_dt, dtype: datetime64[ns]
320   2006-06-09 08:29:15
Name: enter_dt, dtype: datetime64[ns]
321   2006-06-12 08:26:41
Name: enter_dt, dtype: datetime64[ns]
322   2006-06-13 08:17:31
Name: enter_dt, dtype: datetime64[ns]
323   2006-06-14 08:06:27
Name: enter_dt, dtype: datetime64[ns]
324   2006-06-15 08:25:50
Name: enter_dt, dtype: datetime64[ns]
325   2006-06-16 10:22:46
Name: enter_dt, dtype: datetime64[ns]
326   2006-06-19 08:21:37
Name: enter_dt, dtype: datetime64[ns]
327   2006-06-20 09:20:53
Name: enter_dt, dtype: datetime64[ns]
328   2006-06-21 09:16:12
Name: enter_dt, dtype: datetime64[ns]
329   2006-06-22 09:11:35
Name: enter_dt, dtype: datetime64[ns]
330   2006-06-23 10:04:57
Name: enter_dt, dtype: datetime64[ns]
331   2006-06-26 08:04:47
Name: enter_dt, dtype: datetime64[ns]
332   2006-06-27 09:11:35
Name: enter_dt, dtype: datetime64[ns]
333   2006-06-28 10:00:32
Name: enter_dt, dtype: datetime64[ns]
334   2006-06-29 10:08:17
335   2006-06-29 12:11:27
Name: enter_dt, dtype: datetime64[ns]
336   2006-06-30 08:08:08
Name: enter_dt, dtype: datetime64[ns]
337   2006-04-01 09:17:15
572   2006-04-02 04:00:01
618   2006-04-02 04:00:01
664   2006-04-02 04:00:01
710   2006-04-02 04:00:01
756   2006-04-01 14:53:37
757   2006-04-02 04:00:01
Name: enter_dt, dtype: datetime64[ns]
338   2006-04-02 14:51:57
Name: enter_dt, dtype: datetime64[ns]
339   2006-04-05 09:09:55
573   2006-04-06 04:00:01
619   2006-04-06 04:00:01
665   2006-04-06 04:00:01
711   2006-04-06 04:00:01
758   2006-04-05 15:00:40
759   2006-04-06 04:00:01
Name: enter_dt, dtype: datetime64[ns]
340   2006-04-06 15:00:51
Name: enter_dt, dtype: datetime64[ns]
341   2006-04-09 10:00:21
574   2006-04-10 04:00:01
620   2006-04-10 04:00:01
666   2006-04-10 04:00:01
712   2006-04-10 04:00:01
760   2006-04-09 15:32:46
761   2006-04-10 04:00:01
Name: enter_dt, dtype: datetime64[ns]
342   2006-04-10 13:31:08
Name: enter_dt, dtype: datetime64[ns]
343   2006-04-13 08:20:08
575   2006-04-14 04:00:01
621   2006-04-14 04:00:01
667   2006-04-14 04:00:01
713   2006-04-14 04:00:01
762   2006-04-13 13:46:27
763   2006-04-14 04:00:01
Name: enter_dt, dtype: datetime64[ns]
344   2006-04-14 12:30:19
345   2006-04-14 14:54:35
Name: enter_dt, dtype: datetime64[ns]
346   2006-04-17 10:12:20
576   2006-04-18 04:00:01
622   2006-04-18 04:00:01
668   2006-04-18 04:00:01
714   2006-04-18 04:00:01
764   2006-04-17 15:26:41
765   2006-04-18 04:00:01
Name: enter_dt, dtype: datetime64[ns]
347   2006-04-18 13:55:41
Name: enter_dt, dtype: datetime64[ns]

### Выгрузка датафрейма в таблицу

In [1113]:
df_workdays = df_workdays.reset_index()
df_workdays.rename(columns={"index" : "id"}, inplace=True)

df_workdays.to_sql("workdays_tgt", engine, if_exists="append", index=False)

DuplicateColumnError: A column with name 'id' is already present in table 'workdays_tgt'.

## aggregated_info_tgt

In [ ]:
query_aggregated_info = """
INSERT INTO aggregated_info_tgt (
    full_name,
    month,
    workdays_count,
    on_time_count,
    late_0_15,
    late_15_30,
    late_30_60,
    late_60_plus,
    full_day_count,
    short_day_count,
    avg_worktime
)
SELECT
    full_name,
    TO_CHAR(report_date, 'YYYY-MM') AS month,
    COUNT(*) AS workdays_count,
    COUNT(*) FILTER (WHERE enter_dt::time <= TIME '09:00:00') AS on_time_count,
    COUNT(*) FILTER (
        WHERE enter_dt::time > TIME '09:00:00'
          AND EXTRACT(EPOCH FROM (enter_dt::time - TIME '09:00:00')) / 60 <= 15
    ) AS late_0_15,
    COUNT(*) FILTER (
        WHERE EXTRACT(EPOCH FROM (enter_dt::time - TIME '09:00:00')) / 60 > 15
          AND EXTRACT(EPOCH FROM (enter_dt::time - TIME '09:00:00')) / 60 <= 30
    ) AS late_15_30,
    COUNT(*) FILTER (
        WHERE EXTRACT(EPOCH FROM (enter_dt::time - TIME '09:00:00')) / 60 > 30
          AND EXTRACT(EPOCH FROM (enter_dt::time - TIME '09:00:00')) / 60 <= 60
    ) AS late_30_60,
    COUNT(*) FILTER (
        WHERE EXTRACT(EPOCH FROM (enter_dt::time - TIME '09:00:00')) / 60 > 60
    ) AS late_60_plus,
    COUNT(*) FILTER (
        WHERE EXTRACT(EPOCH FROM (exit_dt - enter_dt)) / 3600 >= 9
    ) AS full_day_count,
    COUNT(*) FILTER (
        WHERE EXTRACT(EPOCH FROM (exit_dt - enter_dt)) / 3600 < 9
    ) AS short_day_count,
    ROUND(AVG(EXTRACT(EPOCH FROM (exit_dt - enter_dt)) / 3600), 2) AS avg_worktime
FROM workdays_tgt
GROUP BY full_name, TO_CHAR(report_date, 'YYYY-MM')
ORDER BY full_name, TO_CHAR(report_date, 'YYYY-MM');
"""

with engine.connect() as conn:
    with conn.begin():
        conn.execute(text(query_aggregated_info))

## Эскпортируем полученные таблицы в .csv

In [ ]:
tables = ['intervals_tgt', 'workdays_tgt', 'aggregated_info_tgt']

for table in tables:
    df_data = pd.read_sql(f"SELECT * FROM {table}", engine)
    csv_filename = f"data/target/{table}.csv"
    df_data.to_csv(csv_filename, index=False)
    print(f"Таблица {table} сохранена в файл {csv_filename}")

Таблица intervals_tgt сохранена в файл data/target/intervals_tgt.csv
Таблица workdays_tgt сохранена в файл data/target/workdays_tgt.csv
Таблица aggregated_info_tgt сохранена в файл data/target/aggregated_info_tgt.csv